@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    font-family: 'Nunito Sans';
  }
.Navbar{
    height: 72px;
    border:2px;
    border-color: white;
}

.NavContent{
    margin-left: 120px;
    margin-right:120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.leftside{
    display: flex;
    flex-direction: row;
    width: 492px;
   
    justify-content: space-between;
}
.downarrow{
    margin-top: 25px;
    margin-left: 10px;
}
.rightTabs{
    display: flex;
    flex-direction: row;

    

}
.rightside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 364px;
   
    
}
.JoinButton{
    width: "166px";
height: "40px";
padding: 15px 42px 10px 42px;
border-radius: 52px;
gap: 10px;
background: linear-gradient(266.79deg, #0048FF 4.63%, #0096FF 100%);
color: white;
font-weight: 700;
align-items: center;
font-size: 16px;

    
}

.Navtabs{
    display: flex;
    flex-direction: row;
    

}
.NavtabsText{
    margin-left: 60px;
    font-weight: 500;
  
   
   font-size: 16px;



}


/* Payment Page */





.paymentPage{
    padding-left: 120px;
    padding-right:120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    background-image:url(../public/images/Back\ Ground.png);
    
}

.leftContent{

    width:800px;
    margin-left: 20px;
    
   


}

.leftContentHead{
    color: white;
font-size: 50px;
font-weight: 500;
line-height: 70px;
letter-spacing: -0.01em;
text-align: left;
display: flex;
flex-direction: row;

}

.rightContent{
    width:500px;
   
    margin-left: 10px;

}
.LeftBody{
    display: flex;
flex-direction: column;
border: 1px solid red;
margin-top: 20px;

}
.features{
    margin-top: 15px;
    margin-bottom:15px;
    height: 40px;
   
    display: flex;
    flex-direction: row;



}

img.imagesLeft{
    height: 30px;
    width: 30px;
    padding: 5px;
   
}
.Featuresright{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
   
}
.blueFeature{
 color: #0096FF;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 500;
font-size: 30px;



}
.whiteText{
    font-weight: 500;
    font-size: 30px;
color: white;
padding-top: 5px;

}


.paymentSection{
    background-color: white;
    padding:7px;
}
.TopHeader{
    height: 50px;
    flex-direction: row;
    display: flex;
    margin-left: 125px;
    margin-right: 125px;
    justify-content: space-between;
}
.circle{
    height: 30px;
    width:30px;
    background: #0096FF;

    border-radius: 50%;
    display: flex;
    flex-direction: column;
    color: black;
   
    margin-left: 15px;

}
.CircleText{
    display: flex;
    flex-direction: column;
    height:56px;
    width: 56px;
   
    justify-content: space-between;
   


}

.HeaderText{

font-size: 24px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
margin-top:20px;
margin-bottom: 20px;

    
}

.PaymentOption1{
height: 65px;
border-radius: 4px;
border: 2px;
gap: 12px;
color: #BEBEBE;
border: 2px solid #BEBEBE;
background: linear-gradient(0deg, #E7E7E7, #E7E7E7);
margin-bottom: 10px;



}

.PaymentOption2{
    height: 65px;
    border: 2px solid #BEBEBE;
    border-radius: 4px;


gap: 12px;
color: #3C4852;
;

margin-bottom: 10px;
cursor: pointer;


    
}
.paymentIsClicked{
    height: 65px;
    border: 2px solid #47BA68;
background:linear-gradient(0deg, #D7EDDD, #D7EDDD);
border-radius: 4px;
color: #3C4852;
margin-bottom: 10px;
cursor: pointer;

}
.offerHighlighter{
    height: 16px;
    width: 121px;
    font-size: 12px;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 55px;
    background: #F77171;
    border-radius: 0px, 0px, 10px, 10px;
    color: white;
    justify-content: center;
    align-items: center;
    

}

.offerHighlighter2{
    height: 16px;
    width: 121px;
    font-size: 12px;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 55px;
    background: #47BA68;
    border-radius: 0px, 0px, 10px, 10px;
    color: white;
    justify-content: center;
    align-items: center;
    

}
.SubscribtionTab{

    height: 33px;
   
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;


}

.SelectCircle{
    height: 26.67px;
    width:26.67px;
    margin-top: 3px;
    

}
.TypeOfSubscription{
   

width: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin-left: 15px;
    

}
.OfferText{
   
font-size: 12px;
font-weight: 400;
height: 20px;
line-height: 14px;
letter-spacing: 0em;
text-align: center;display: flex;
flex-direction: row;


}
.OfferTotal{
    padding-top: 4.5px;
}

.OfferNo
{
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
margin-left: 10px;


}
.PricePerMonth{
    font-size: 12px;
font-weight: 400;
margin-top: 2px;
margin-left: 22px;
line-height: 14px;
letter-spacing: 0em;
text-align: center;display: flex;
flex-direction: row;


}
.perMonth{
font-size: 10px;
font-weight: 500;
line-height: 12px;
letter-spacing: 0em;
text-align: center;
color:#BEBEBE;
margin-left: 10px;


}

.LineBreaker{
    border-top: 2px solid #BEBEBE;
    margin-top: 20px;
    margin-bottom: 10px;
}

.Subscription{
    color:  #3C4852;
    ;
    height: 24px;
    padding:25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Subscription .Fee{
    color: #3C4852;
    ;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;


    
}

.Subscription .Price{
font-size: 16px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0.03em;
text-align: center;

}
.TotalPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:  #3C4852;
    ;
    height: 24px;
    padding:25px;

}
.TotalPrice .Price{
font-size: 24px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.03em;
text-align: center;


}
.TotalPrice .Fee {

    display: flex;
    flex-direction: row;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0em;
text-align: center;

}
.TotalPrice .GST{
    margin-left: 5px;
    color: #3C4852;
    ;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;

}

.LimitedOfferContainer{
   
      border-radius: 4px;
      overflow: hidden;

}

.LimitedOffer{
height: 60px;
padding: 18px 24px 12px 24px;

 opacity:20;
 border-image-slice: 1;
 border-width: 3px;
      border-style: solid;
      border-image: linear-gradient(135deg, #DE4313 0%, #DE4313 0.75%, #DE4313 2.92%, #DE4414 6.37%, #DF4515 10.97%, #DF4816 16.59%, #E04B18 23.1%, #E1501B 30.37%, #E3561F 38.27%, #E55E24 46.66%, #E7682B 55.41%, #EB7533 64.39%, #EE843C 73.47%, #F39547 82.52%, #F8A954 91.41%, #FEC163 100%) 1;
 background: linear-gradient(135deg, rgba(222, 67, 19, 0.2) 0%, rgba(222, 67, 19, 0.2) 0.75%, rgba(254, 193, 99, 0.2) 100%);
}






.LimitedOfferHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
   


}
.LimitedOfferHeader .Offer{
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: #DE4313;
border: 1px solid red;


}
.LimitedOfferHeader .Price{
    display: flex;
    flex-direction: row;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: #3C4852;
border: 1px solid red;


}
.LimitedOfferDetails{
    color: #DE4313;
    display: flex;
    flex-direction: row;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
border: 1px solid red;


}
.LimitedOfferDetails .Text{
    margin-top:3px;
}


.Buttons{

    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.leftButton{
    height: 56px;
    border: 2px solid #F77171;
    width: 242.5px;
padding: 10px 42px 10px 42px;
border-radius: 4px;
gap: 10px;


}
.rightButton{
    height: 56px;
    width: 242.5px;

padding: 10px 42px 10px 42px;
border-radius: 4px;
gap: 10px;
background-color: #47BA68;
;


}



